<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlu.jtee.mapper.ExamMapper">

    <insert id="newExam" parameterType="com.jlu.jtee.domain.Exam">
        INSERT INTO `exam`(`create_time`, `end_time`, `type`, `s_id`,`status`)
         VALUES (#{exam.createTime}, #{exam.endTime}, #{exam.type}, #{exam.sId},#{exam.status})
    </insert>
    
    <update id="updateExam">
        UPDATE `exam` set post_time=#{postTime}, score=#{score},status=#{status}
              where s_id = #{sId} and status='考试中'
    </update>

    <select id="findAllMyExamBySId" resultType="com.jlu.jtee.domain.Exam">
        select * from exam where s_id=#{sId}
    </select>
</mapper>
