<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改资料页面</title>
    <link rel="stylesheet" href="/asserts/css/bootstrap.css" th:href="@{/asserts/css/bootstrap.css}"/>
    <script src="/asserts/js/jquery-3.4.1.min.js" th:src="@{/asserts/js/jquery-3.4.1.min.js}"></script>
    <script src="/asserts/js/bootstrap.js" th:src="@{/asserts/js/bootstrap.js}"></script>
    <link rel="stylesheet" href="/asserts/css/com.css">
    <div class="header-main">
        <div id="head" th:include="com/header :: common_head"></div>
    </div>
</head>
<body>
<div class="panel panel-default" id="main" style="width: 80%;margin:1% 2% 5% 5%;float: left;">
    <div class="panel-heading" style="background-color: white">
        <a href=”#” onClick="javascript :history.go(-1);return false">返回上一页</a>

    </div>

    <div class="panel-body">

        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-2">
                    <p class="form-control-static">[[${session.loginUser}]]</p>
                </div>
                <button class="btn btn-danger" id="UserNameCheck">确定</button>
                <button class="btn btn-warning" id="UserNameEdit">修改</button>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">班级</label>
                <div class="col-sm-2">
                    <select class="form-control" id="ClassSelect" disabled="disabled">
                        <option th:if="${session.Nameflag == 1}">[[${session.className}]]</option>
                    </select>
                </div>
                <button class="btn btn-danger" id="ClassCheck">确定</button>
                <button class="btn btn-warning" id="ClassEdit">修改</button>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">权限</label>
                <div class="col-sm-10">
                    <p th:if="${session.Nameflag == 1}" class="form-control-static Pior" >可参加考试</p>
                    <p th:if="${session.Nameflag != 1}" class="form-control-static Pior" >请先选择班级</p>

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a href="photo.html" class="btn btn-primary">照片修改</a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="sidebar-footer">
    <div th:include="com/footer :: common_footer"></div>
</div>
<!---->

</body>
<SCRIPT>

    $(document).ready(function () {
        $("#ClassCheck").click(function () {
            $("#ClassSelect").attr("disabled","disabled");
            $(".Pior").html("可参加考试")
            var ClassName = $("#ClassSelect").val();
            $.ajax({
                url : "/setClass",
                type : 'get',
                data : {
                    ClassName : ClassName
                }
            })
        })
        $("#ClassEdit").click(function () {
            $("#ClassSelect").removeAttr("disabled");
        })
        $("#UserNameEdit").click(function () {
            alert("修改名字");
        })
    })
        $.ajax({
            url : "/getClassName",
            type : 'get',
            dataType : 'json',
            success : function(data) {
                if (data){
                    var Class_sel = [];
                    Class_sel.push('<option value="" selected>请选择</option>')
                    for(var i=0,len=data.length;i<len;i++){
                        var Class = data[i];
                        Class_sel.push('<option value="'+Class+'">'+Class+'</option>');
                    }
                    $("#ClassSelect").html(Class_sel.join(' '));
                }
            }
        })

</SCRIPT>
</html>