<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>人脸拍摄</title>
    <link rel="stylesheet" href="/asserts/css/bootstrap.css" th:href="@{/asserts/css/bootstrap.css}"/>
    <script src="/asserts/js/jquery-3.4.1.min.js" th:src="@{/asserts/js/jquery-3.4.1.min.js}"></script>
    <script src="/asserts/js/bootstrap.js" th:src="@{/asserts/js/bootstrap.js}"></script>
    <link rel="stylesheet" href="/asserts/css/com.css">
    <div class="header-main">
        <div id="head" th:if="${session.loginUser}!=null" th:include="com/header :: common_head"></div>
    </div>
</head>
<body>

<!-- 用于展示摄像头视频流 -->

<video  id="video" autoplay style="position: center; width: 480px;height: 320px"></video>
<div>
    <button id="capture" onclick="handleClickCapture()">拍照</button>
    <button th:if="${session.check}!=1" id="postPhoto" onclick="uploadImage()">确定修改保存的图像</button>
    <button th:if="${session.check}==1" id="checkPhoto" onclick="uploadFace()">开始识别</button>
    <a th:if="${session.loginUser}==null" href="/index.html" class="btn">登录后再进行照片拍摄</a>
</div>

<!-- 展示拍摄的照片 -->
<canvas id="canvas" width="480" height="320"></canvas>




<script>
    var video = document.getElementById('video');
    var capture = document.getElementById('capture');
    var ctx = document.getElementById('canvas').getContext('2d');

    /**
     * 调用用户媒体设备
     * @param constraints 配置信息
     * @param success 成功回调函数
     * @param error 失败回调函数
     */
    function getUserMediaToPhoto(constraints,success,error) {
        if(navigator.mediaDevices.getUserMedia){
            navigator.mediaDevices.getUserMedia(constraints).then(success).catch(error);
        }else if (navigator.webkitGetUserMedia) {
            navigator.webkitGetUserMedia(constraints,success,error);
        }else if(navigator.mozGetUserMedia){
            navigator.mozGetUserMedia(constraints,success,error);
        }else if(navigator.getUserMedia){
            navigator.getUserMedia(constraints,success,error);
        }
    }

    /**
     * 成功回调函数
     * @param stream 视频流
     */
    function success(stream){
        var CompatibleURL = window.URL || window.webkitURL;
        try {
            video.src = CompatibleURL.createObjectURL(stream);

        } catch (e) {
            video.srcObject = stream;
        }
        video.play();
    }

    /**
     * 失败回调
     * @param error 错误对象
     */
    function error(error) {
        console.log('无法访问媒体设备', error);
    }

    if(navigator.mediaDevices.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.getUserMedia){
        getUserMediaToPhoto({video:{width:480,height:320}},success,error);
    }else{
        alert('不支持访问用户媒体设备');
    }

    /**
     * 拍照按钮点击事件
     */
    function handleClickCapture() {
        ctx.drawImage(video,0,0,480,320);

    }

    function uploadFace() {
        alert("识别是否为当前用户")
        var Pic = document.getElementById("canvas").toDataURL()
        $.ajax({
            type: "POST",
            url: "/Student/getFace",
            data: ({"imageData" : Pic}),
            dataType:"text",
            timeout:10000,
            async: true,
            success(data){
                if (data==0)
                    alert("请先前往修改资料处拍摄照片")
                else if (data==1)
                    alert("没有识别到人像")
                else if (data==2){
                    alert("人脸匹配")
                    alert("可进入考试")
                    window.opener=null;
                    window.top.open('','_self','');
                    window.close(this);
                }
                else if (data==3)
                    alert("人脸不匹配")

            }
        })
    }

    function uploadImage(){
        alert("识别照片中")
        var Pic = document.getElementById("canvas").toDataURL()
  //      var imgData = canvas.toDataURL();
        //上传到后台。
        $.ajax({
            type: "POST",
            //后端需要调用的地址
            url:"/Student/getPhoto",
            data: ({"imageData" : Pic}),
            dataType:"text",
            //设置超时
            timeout:10000,
            async: true,
            success(data){
                if (data==1)
                {
                    alert("识别成功，可前往登录");
                    window.location = "/";

                }else if (data==2)
                {
                    alert("识别失败，请拍照重试或登录后再进行拍照")
                }
            }
            /*
            success: function (data) {
                console.log(data)
                alert(data)
                //成功后回调
            },
            error: function(data) {
            },
            //调用执行后调用的函数
            complete: function (XMLHttpRequest, textStatus) {
                if(textStatus == 'timeout'){
                    uploadAjax.abort(); //取消请求
                    //超时提示：请求超时，请重试
                    alert("请求超时，请重试")
                    //请求超时返回首页
                    closeCard();
                }
            }*/
        });}
</script>
</body>
</html>